<div th:fragment="content">
    <h3 style="text-align: center;">Notificación de Paso Completado</h3>
    <br>
    <p>Saludos <strong th:text="${responsableNombre} + ' ' + ${responsableApellido}">Nombre Apellido</strong></p>

    <p>Le informamos que se ha completado un paso en el Proceso de Titulación #<strong
            th:text="${procesoId}">45</strong>
    </p>

    <p>El paso: "<strong th:text="${pasoAnterior}">Enviar documentación</strong>", ha sido
        <strong>COMPLETADO/APROBADO</strong> correctamente.
    </p>

    <p>Ahora se encuentra en el paso: "<strong th:text="${pasoActual}">Revisión de documentos</strong>".</p>
    <br>
    <p>Por favor, continúe con las acciones correspondientes a este nuevo paso.</p>
    <br>
</div>